# Configuración de la base de datos PostgreSQL
DB_HOST=
DB_PORT=
DB_USER=postgres
DB_PASS=julio.turri
DB_NAME=gestor_proyectos_turri

# Configuración de OpenProject
OPENPROJECT_URL=http://181.49.45.246:9000
# OPENPROJECT_API_TOKEN removido - cada usuario usa su propio token

# Configuración del servidor
PORT=3000

# Configuración de sesión
SESSION_SECRET=tu_clave_secreta_muy_segura_aqui

# Entorno (development/production)
NODE_ENV=development